.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

img{
    max-width: 220px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
}

a {
    width : fit-content;
    text-decoration: none;
    color: #222;
    transition: transform 200ms ease-in-out;
}

a:hover {
    transform: scale(1.05);
}

.projectsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.scroller {
    display: 'flex';
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap; /* Enable vertical scrolling */
    padding:100x 0;/* Set a max height for the scroller */
    width: 80%;
}

.projectCard {
    display: inline-block;
    margin-right: 20px;
}
.projectCard src{
    max-width: 150px;
    max-height: 100px;
    object-fit: cover;
}



@media (width >= 800px) {
    .projectsContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}